[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flash = "*"
pymysql = "*"
cryptography = "*"
bcrypt = "*"
flask-wtf = "*"
flask-uploads = "*"

[dev-packages]

[requires]
python_version = "*"
