<!-- dashboard.html -->
{% extends 'index.html' %}

{% block title %}Dashboard{% endblock %}

{% block nav %}
<h1 class="p-0 text-dark col-6">Welcome, {{user.first_name|capitalize}}.</h1>
<div class="d-flex">
    <div class="p-2">
        <a href="/homes/new" class="btn btn-md btn-hover grad">Add Listing</a>
    </div>
    <div class="p-2">
        <a href="/" class="btn btn-md btn-hover grad">Home</a>
    </div>
    <div class="p-2">
        <a href="/user/logout" class="btn btn-md btn-hover grad">Logout</a>
    </div>
</div>
{% endblock %}


{% block content %}
<h2>Listings</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% if homes %}
        {% for home in homes %}
        <div class="col">
            <div class="card">
                <a href="/homes/details/{{home.id}}">
                <img src="{{home.image}}" class="card-img-top" alt="single" style="height: 20rem;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">$ {{ '{:,}'.format(home.price) }}</h5>
                    <p class="card-text">{{home.bed}} bds | {{home.bath}} ba | {{home.sq_ft}} sqft - {{home.type}}</p>
                    <div class="card-text d-flex justify-content-between align-items-center">
                        <p>{{home.street_address}}, {{home.city}}, {{home.state}} {{home.zipcode}}</p>
                        <div>
                            <a href="/homes/edit/{{home.id}}" class="btn btn-hover grad">Edit</a>
                            <a href="/homes/delete/{{home.id}}" class="btn btn-hover grad">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    
</div>
{% endblock %}

{% set page = 'dashboard' %}