<!-- dashboard.html -->
{% extends 'index.html' %}

{% block title %}Dashboard{% endblock %}

{% block nav %}
<h1 class="p-0 text-dark col-6">Welcome, {{user.first_name|capitalize}}.</h1>
<div class="d-flex">
    <div class="p-2">
        <a href="/homes/new/one" class="btn btn-md btn-secondary">Add Homes</a>
    </div>
    <div class="p-2">
        <a href="/user/logout" class="btn btn-md btn-secondary">Logout</a>
    </div>
</div>
{% endblock %}


{% block content %}
<h2>Homes</h2>
<table class="table table-dark table-striped table-hover border border-4 border-primary-emphasis fs-4 mt-4 text-center">
    <thead>
        <tr>
            <th>Homes</th>
            <th>Owner</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for my_homes in homes %}
            <tr>
                <td><a href="/my/homes/{{my_homes.id}}" class="btn border-primary-emphasis btn-success text-dark">{{my_homes.street_address}}</a></td>
                <td>{{my_homes.maker.first_name}}</td>
                <td>
                {% if session['user_id'] == my_homes.maker.id %}
                    <a href="/homes/edit/{{my_homes.id}}" class="btn btn-success border-4  text-dark">Edit</a>
                    <a href="/homes/delete/{{my_homes.id}}" class="btn btn-warning boder-2  text-dark">Delete</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% set page = 'dashboard' %}