<!-- new.html -->
{% extends 'index.html' %}

{% block title %}Home Details{% endblock %}

{% block nav %}
{% if user %}
<h1 class="p-0 text-dark col-6">Welcome, {{user.first_name|capitalize}}.</h1>
<div class="d-flex">
    <div class="p-2">
        <a href="/homes/new" class="btn btn-md btn-secondary">Add Homes</a>
    </div>
    <div class="p-2">
        <a href="/dashboard" class="btn btn-md btn-secondary">Dashboard</a>
    </div>
    <div class="p-2">
        <a href="/user/logout" class="btn btn-md btn-secondary">Logout</a>
    </div>
</div>
{% else %}
<a href="/"><img src="/imgs/logo.png" width="400" alt="logo"></a>

<!-- Login/Registration Buttons -->
<div class="d-flex">
    <div class="login p-2">
        <div class="dropdown">
            <button type="button" class="btn btn-md btn-secondary dropdown-toggle"
                data-bs-toggle="dropdown">Login</button>
            <div class="dropdown-menu col-md-6">
                <form action="/user/login" method="post" class="col-10 mx-auto border-0 p-0">
                    <div>
                        {% with messages = get_flashed_messages(category_filter=["login"]) %}
                            {% if messages %}
                            <ul class="alert-message block-message error">
                                {% for message in messages %}
                                <li class="text-danger">{{message}}</li> 
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="text-info form-label text-dark">Email:</label> 
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="text-info form-label text-dark">Password:</label> 
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-sm btn-secondary">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="register p-2">
        <div class="dropdown">
            <button type="button" class="btn btn-md btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Register</button>
            <div class="dropdown-menu col-md-6">
                <form action="/user/register" method="post" class="col-10 mx-auto border-0 p-0">
                    <div>
                        {% with messages = get_flashed_messages(category_filter=["register"]) %}
                            {% if messages %}
                            <ul class="alert-message block-message error">
                                {% for message in messages %}
                                <li class="text-danger">{{message}}</li> 
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="first_name" class="text-info form-label text-dark">First Name:</label> 
                        <input type="text" name="first_name" id="first_name" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="last_name" class="text-info form-label text-dark">Last Name:</label> 
                        <input type="text" name="last_name" id="last_name" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="text-info form-label text-dark">Email:</label> 
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="text-info form-label text-dark">Password:</label> 
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirm_password" class="text-info form-label text-dark">Confirm Password:</label> 
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-sm btn-secondary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
            
{% block content %}

<h2>Home Details - <a href="/homes/view/{{home.type}}" class="text-decoration-none text-dark">{{home.type}}</a></h2>

<div class="card mb-3 px-0">
        <div class="row g-0">
            <div class="col-md-4 m-auto p-auto">
                <img src="{{home.image}}" class="img-fluid rounded" alt="single" style="height: 20rem;">
            </div>
        
            <div class="col-md-8 card-body">
                <div class="row g-3 ">
                    <div class="form-group col-md-2 mb-3">
                        <label for="name" class=" text-success form-label"><b>Owner:</b></label>
                        <p>{{home.name}}</p>
                    </div>
                    <div class="form-group col-md-7 mb-3">
                        <label for="street_address" class=" text-success form-label"><b>Basic Information:</b></label>
                        <p>{{home.bed}} beds, {{home.bath}} baths, {{home.sq_ft}} sqft - {{home.type}}</p>
                    </div>
                    <div class="form-group col-md-2 mb-3">
                        <label for="price" class="text-success form-label"><b>Selling Price:</b></label>
                        <p>$ {{ '{:,.2f}'.format(home.price) }}</p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="street_address" class=" text-success form-label"><b>Home Address:</b></label>
                        <p>{{home.street_address}}, {{home.city}}, {{home.state}} {{home.zipcode}}</p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="description" class=" text-success form-label"><b>Description:</b></label>
                        <p>{{home.description}}</p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% set page = 'details' %}




