<!-- new.html -->
{% extends 'index.html' %}

{% block title %}Edit Homes{% endblock %}

{% block nav %}
<a href="/homes/new/one" class="btn btn-success  text-dark border-primary-emphasis  border-2 offset-3 col-1" style="height: 85%; width: auto;">Add Home</a>
<a href="/dashboard" class="btn btn-success  text-dark border-primary-emphasis  border-2 col-1" style="height: 85%; width: auto;">Dashboard</a>
<a href="/user/logout" class="btn btn-warning text-dark  border-primary-emphasis border-2 col-1" style="height: 80%; width: auto;">Logout</a>
{% endblock %}
            
{% block content %}

<h2 class="p-0  mt-4 col 6">Edit Home</h2>

<form action="/homes/edit/process/{{homes.id}}" method="post" class="col-12 mx-auto border-4 border-primary-emphasis bg-dark text-white p-3">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row">
    <div class="col-4 offset-1">
        <div class="form-group mb-3">
            <label for="name" class=" text-success form-label">Owner:</label>
            <input type="text" name="name" id="name" class="form-control" value="{{homes.name}}">
        </div>
        <div class="form-group mb-3">
            <label for="street_address" class=" text-success form-label">Street Address:</label>
            <input type="text" name="street_address" id="street_address" class="form-control" value="{{homes.street_address}}">
        </div>
        <div class="form-group mb-3">
            <label for="description" class=" text-success form-label">Description:</label>
            <textarea name="description" id="description" class="form-control">{{homes.description}}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="price" class="text-success form-label">Price:</label>
            <input type="number" name='price' id="price" class="form-control">{{homes.price}}</input>
        </div>
    </div>
</div>
<button type= "submit" class="btn btn-warning ms-5 text-dark mt-2 border-2">Update</button>
</form>
{% endblock %}

{% set page = 'edit' %}




