<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous'>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj' crossorigin='anonymous'></script>
    <link rel='stylesheet' href="{{ url_for('static', filename='/css/style.css')}}">
    <title>HomeScope</title>
</head>
<body>
    <div class="header">
        <img src="../static/imgs/logo.png" alt="logo">
    </div>
    <div class="d-flex row mt-4">
        <form action="/user/registration/process" method="post" class="col-4 mx-auto formcard mt-5 p-3">
            <h2 class="text-center mb-3">REGISTER</h2>
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages if category == "register" %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label" for="first_name">First Name</label> 
                <div class="col-8">
                    <input id="first_name" name="first_name" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="last_name" class="col-4 col-form-label">Last Name</label> 
                <div class="col-8">
                    <input id="last_name" name="last_name" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email</label> 
                <div class="col-8">
                    <input name="email" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-4 col-form-label">Password</label> 
                <div class="col-8">
                    <input id="password" name="password" type="password" class="form-control">
                </div>
                </div>
            <div class="form-group row">
                <label for="confirm_password" class="col-4 col-form-label">Confirm Password</label> 
                <div class="col-8">
                    <input name="confirm_password" type="password" class="form-control">
                </div>
            </div> 
            <button type="submit" class="btn btn-hover grad mt-2 col-12">Register</button>
        </form>
        <form action="/user/logged_in/process" method="post" class="col-4 mx-auto formcard mt-5 p-3">
            <h2 class="text-center mb-3">LOGIN</h2>
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages if category == "login" %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email</label> 
                <div class="col-8">
                    <input name="email" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-4 col-form-label">Password</label> 
                <div class="col-8">
                    <input id="password" name="password" type="password" class="form-control">
                </div>
            </div> 
            <button type="submit" class="btn btn-hover grad mt-2 col-12">Login</button>
        </form>
    </div>
    <div class="footer mt-5">
        Copyright © 2023 HomeScope. All rights reserved.
    </div>
</body>
</html>


