<!-- dashboard.html -->
{% extends 'index.html' %}

{% block title %}HomeScope{% endblock %}

{% block nav %}

<a href="/"><img src="/imgs/logo.png" width="400" alt="logo"></a>
        <!-- Login/Registration Buttons -->
        <div class="d-flex">
            <div class="login p-2">
                <div class="dropdown">
                    <button type="button" class="btn btn-md btn-secondary dropdown-toggle"
                        data-bs-toggle="dropdown">Login</button>
                    <div class="dropdown-menu col-md-6">
                        <form action="/user/login" method="post" class="col-10 mx-auto border-0 p-0">
                            <div>
                                {% with messages = get_flashed_messages(category_filter=["login"]) %}
                                    {% if messages %}
                                    <ul class="alert-message block-message error">
                                        {% for message in messages %}
                                        <li class="text-danger">{{message}}</li> 
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="form-group mb-3">
                                <label for="email" class="text-info form-label text-dark">Email:</label> 
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="text-info form-label text-dark">Password:</label> 
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-sm btn-secondary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="register p-2">
                <div class="dropdown">
                    <button type="button" class="btn btn-md btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Register</button>
                    <div class="dropdown-menu col-md-6">
                        <form action="/user/register" method="post" class="col-10 mx-auto border-0 p-0">
                            <div>
                                {% with messages = get_flashed_messages(category_filter=["register"]) %}
                                    {% if messages %}
                                    <ul class="alert-message block-message error">
                                        {% for message in messages %}
                                        <li class="text-danger">{{message}}</li> 
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="form-group mb-3">
                                <label for="first_name" class="text-info form-label text-dark">First Name:</label> 
                                <input type="text" name="first_name" id="first_name" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="last_name" class="text-info form-label text-dark">Last Name:</label> 
                                <input type="text" name="last_name" id="last_name" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="email" class="text-info form-label text-dark">Email:</label> 
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="text-info form-label text-dark">Password:</label> 
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="confirm_password" class="text-info form-label text-dark">Confirm Password:</label> 
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-sm btn-secondary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
    <!-- Our Mission -->
    <section id="mission" class="p-4">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg">
                    {% if all_homes %}
                    <div id="carouselAllhomes" class="carousel slide" >
                    <div class="carousel-indicators">
                        {% for i in range(all_homes|length)%}
                            {% if i == 0 %}
                            <button type="button" data-bs-target="#carouselAllhomes" data-bs-slide-to="{{i}}" class="active" aria-current="true" aria-label="Slide {{i}}"></button>
                            {% else %}
                            <button type="button" data-bs-target="#carouselAllhomes" data-bs-slide-to="{{i}}" aria-label="Slide {{i}}"></button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for i in range(all_homes|length)%}
                            {% if i == 0 %}
                            <div class="carousel-item active" style="height: 24rem;">
                                <a href="/homes/view/{{all_homes[i].type}}">
                                <img src="{{all_homes[i].image}}"
                                class="card-img-top" alt="{{all_homes[i].type}}"  style="height: 24rem;">
                                </a>
                            </div>
                            {% else %}
                            <div class="carousel-item" style="height: 24rem;">
                                <a href="/homes/view/{{all_homes[i].type}}">
                                <img src="{{all_homes[i].image}}"
                                class="card-img-top" alt="{{all_homes[i].type}}" style="height: 24rem;">
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAllhomes" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselAllhomes" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                    {% else %}
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                            class="img-fluid" alt="first">
                    {% endif %}
                </div>
                <div class="col-md p-5">
                    <h2>Our Mission</h2>
                    <p class="lead">To make listing and selling your house as simple as possible.</p>
                    <p>Everyone hates the hassle that comes with selling a house. Let us handle everything on your
                        behalf.Just give us some basic details about your property and we'll take care of the rest.
                        Register today!</p>
                </div>
            </div>
        </div>
    </section><!-- Houses -->
    <div class="container">
        <div id="houses" class="houses houses-dark text-center py-2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        {% if single_homes %}
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                                {% for i in range(single_homes|length)%}
                                    {% if i == 0 %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}" class="active" aria-current="true" aria-label="Slide {{i}}"></button>
                                    {% else %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{i}}" aria-label="Slide {{i}}"></button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for i in range(single_homes|length)%}
                                    {% if i == 0 %}
                                    <div class="carousel-item active" style="height: 17rem;">
                                        <a href="/homes/view/{{single_homes[i].type}}">
                                        <img src="{{single_homes[i].image}}"
                                        class="card-img-top" alt="{{single_homes[i].type}}" style="height: 17rem;">
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="carousel-item">
                                        <a href="/homes/view/{{single_homes[i].type}}">
                                        <img src="{{single_homes[i].image}}"
                                        class="card-img-top" alt="town" style="height: 17rem;">
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        {% else %}
                        <img src="https://www.biggerpockets.com/blog/wp-content/uploads/2016/01/The-7-Vital-Steps-to-Buying-a-Single-Family-Rental-House-1024x683.jpg"
                                class="card-img-top" alt="single">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">Single Family Homes</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                        {% if townhouse %}
                        <div id="carouselTownhouse" class="carousel slide">
                            <div class="carousel-indicators">
                                {% for i in range(townhouse|length)%}
                                    {% if i == 0 %}
                                    <button type="button" data-bs-target="#carouselTownhouse" data-bs-slide-to="{{i}}" class="active" aria-current="true" aria-label="Slide {{i}}"></button>
                                    {% else %}
                                    <button type="button" data-bs-target="#carouselTownhouse" data-bs-slide-to="{{i}}" aria-label="Slide {{i}}"></button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="carousel-inner" style="height: 17rem;">
                                {% for i in range(townhouse|length)%}
                                    {% if i == 0 %}
                                    <div class="carousel-item active">
                                        <a href="/homes/view/{{townhouse[i].type}}">
                                        <img src="{{townhouse[i].image}}"
                                        class="card-img-top" alt="{{townhouse[i].type}}" style="height: 17rem;">
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="carousel-item">
                                        <a href="/homes/view/{{townhouse[i].type}}">
                                        <img src="{{townhouse[i].image}}"
                                        class="card-img-top" alt="town" style="height: 17rem;">
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTownhouse" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselTownhouse" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        {% else %}
                        <img src="https://inhabit.corcoran.com/wp-content/uploads/2021/11/brownstone_thumb-1024x683.jpg"
                                class="card-img-top" alt="town">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">Townhouse</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                        {% if multi_homes %}
                        <div id="carouselMulti_homes" class="carousel slide">
                            <div class="carousel-indicators">
                                {% for i in range(multi_homes|length)%}
                                    {% if i == 0 %}
                                    <button type="button" data-bs-target="#carouselMulti_homes" data-bs-slide-to="{{i}}" class="active" aria-current="true" aria-label="Slide {{i}}"></button>
                                    {% else %}
                                    <button type="button" data-bs-target="#carouselMulti_homes" data-bs-slide-to="{{i}}" aria-label="Slide {{i}}"></button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for i in range(multi_homes|length)%}
                                    {% if i == 0 %}
                                    <div class="carousel-item active"  style="height: 17rem;">
                                        <a href="/homes/view/{{multi_homes[i].type}}">
                                        <img src="{{multi_homes[i].image}}"
                                        class="card-img-top" alt="{{multi_homes[i].type}}" style="height: 17rem;">
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="carousel-item">
                                        <a href="/homes/view/{{multi_homes[i].type}}">
                                        <img src="{{multi_homes[i].image}}"
                                        class="card-img-top" alt="{{multi_homes[i].type}}" style="height: 17rem;">
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMulti_homes" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselMulti_homes" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        {% else %}
                        <img src="https://www.mashvisor.com/blog/wp-content/uploads/2020/03/Why-Small-Multi-Family-Homes-Are-the-Best-Income-Generating-Assets-for-Beginners.jpg"
                                class="card-img-top" alt="multi">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">Multi Family Homes</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% set page = 'main' %}