<!-- new.html -->
{% extends 'index.html' %}

{% block title %}New Listing{% endblock %}

{% block nav %}
<h1 class="p-0 text-dark col-6">Welcome, {{user.first_name|capitalize}}.</h1>
<div class="d-flex">
    <div class="p-2">
        <a href="/dashboard" class="btn btn-md btn-hover grad">Dashboard</a>
    </div>
    <div class="p-2">
        <a href="/user/logout" class="btn btn-md btn-hover grad">Logout</a>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>Add Listing</h2>
<div class="card mb-3 px-0">
    <form action="/homes/add" method="post" enctype="multipart/form-data">
        <div class="row g-0">
            <div class="col-md-4 p-3">
                    <div class="card">
                        <img src="/imgs/background.jpg" class="img-fluid rounded" alt="Preview" id="image-preview">
                    </div>
                    <div class="input-group mt-4">
                        <input type="file" class="form-control" aria-label="Upload" name="image" id="image-file">
                    </div>
            </div>
            
            <div class="col-md-8 card-body">
                
                {% with messages = get_flashed_messages(category_filter=["home_info"]) %}
                    {% if messages %}
                    <ul class="alert-message block-message error">
                        {% for message in messages %}
                        <li class="{{category}} text-danger">{{message}}</li> 
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
                <div class="row g-3 ">
                    <div class="form-group col-md-2 mb-3">
                        <label for="name" class=" text-success form-label">Owner:</label>
                        <label for="name" class="form-control bg-white">{{user.first_name}}</label>
                        <input type="hidden" name="name" value="{{user.first_name}}">
                    </div>
                    <div class="form-group col-md-1 mb-3">
                        <label for="street_address" class=" text-success form-label">Bed:</label>
                        <input type="number" name="bed" class="form-control">
                    </div>
                    <div class="form-group col-md-1 mb-3">
                        <label for="street_address" class=" text-success form-label">Bath:</label>
                        <input type="number" name="bath" class="form-control">
                    </div>
                    <div class="form-group col-md-2 mb-3">
                        <label for="street_address" class=" text-success form-label">Square Feet:</label>
                        <div class="input-group">
                            <input type="text" name="sq_ft" class="form-control">
                            <span class="input-group-text">sqft</span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="street_address" class=" text-success form-label">Home Type:</label>
                        <select class="form-select" name="type">
                            {% for type in home_types%}
                                <option value="{{type}}">{{type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-2 mb-3">
                        <label for="price" class="text-success form-label">Price:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" name='price' class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label for="street_address" class=" text-success form-label">Street Address:</label>
                        <input type="text" name="street_address" class="form-control">
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label for="street_address" class=" text-success form-label">City:</label>
                        <input type="text" name="city" class="form-control">
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label for="street_address" class=" text-success form-label">State:</label>
                        <input type="text" name="state" class="form-control">
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label for="street_address" class=" text-success form-label">Zip Code:</label>
                        <input type="text" name="zipcode" class="form-control">
                    </div>
                    <div class="form-group col-md-12 mb-3">
                        <label for="description" class=" text-success form-label">Description:</label>
                        <textarea name="description" class="form-control" rows="4"></textarea>
                    </div>
                </div>
        </div>
        <div class="row g-3 my-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-hover grad col-2">Add Listing</button>
        </div>
        </div>
        
    </form>
</div>


{% endblock %}

{% set page = 'new' %}