<!-- new.html -->
{% extends 'index.html' %}

{% block title %}Home Info{% endblock %}

{% block nav %}
<a href="/dashboard" class="btn btn-success  text-dark border-primary-emphasis  border-2 offset-3 col-1" style="height: 85%; width: auto;">Dashboard</a>
<a href="/user/logout" class="btn btn-warning text-dark  border-primary-emphasis offset-1 border-2 col-1" style="height: 80%; width: auto;">Logout</a>
{% endblock %}

{% block content %}
<h2>Home Info</h2>
{% for i in users %}
<div class="row border border-primary-emphasis border-4 my-4 bg-dark text-white rounded rounded-3 p-5 fs-4">
    <div class="row mb-4">
        <p class="text-warning col-8">Owner: {{i.name}}</p>
        <p class="text-warning col-8">Street Address: {{i.street_address}}</p>
        <p class="text-warning col-8">Description: {{i.description}}</p>
        <p class="text-warning col-8">Price: {{i.price}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}

{% set page = 'view' %}