<!-- new.html -->
{% extends 'index.html' %}

{% block title %}Home Listings{% endblock %}

{% block nav %}
{% if homes[0].maker %}
<h1 class="p-0 text-dark col-6">Welcome, {{homes[0].maker.first_name|capitalize}}.</h1>
<div class="d-flex">
    <div class="p-2">
        <a href="/homes/new" class="btn btn-md btn-secondary">Add Homes</a>
    </div>
    <div class="p-2">
        <a href="/dashboard" class="btn btn-md btn-secondary">Dashboard</a>
    </div>
    <div class="p-2">
        <a href="/user/logout" class="btn btn-md btn-secondary">Logout</a>
    </div>
</div>
{% else %}
<a href="/"><img src="/imgs/logo.png" width="400" alt="logo"></a>

<!-- Login/Registration Buttons -->
<div class="d-flex">
    <div class="login p-2">
        <div class="dropdown">
            <button type="button" class="btn btn-md btn-secondary dropdown-toggle"
                data-bs-toggle="dropdown">Login</button>
            <div class="dropdown-menu col-md-6">
                <form action="/user/login" method="post" class="col-10 mx-auto border-0 p-0">
                    <div>
                        {% with messages = get_flashed_messages(category_filter=["login"]) %}
                            {% if messages %}
                            <ul class="alert-message block-message error">
                                {% for message in messages %}
                                <li class="text-danger">{{message}}</li> 
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="text-info form-label text-dark">Email:</label> 
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="text-info form-label text-dark">Password:</label> 
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-sm btn-secondary">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="register p-2">
        <div class="dropdown">
            <button type="button" class="btn btn-md btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Register</button>
            <div class="dropdown-menu col-md-6">
                <form action="/user/register" method="post" class="col-10 mx-auto border-0 p-0">
                    <div>
                        {% with messages = get_flashed_messages(category_filter=["register"]) %}
                            {% if messages %}
                            <ul class="alert-message block-message error">
                                {% for message in messages %}
                                <li class="text-danger">{{message}}</li> 
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group mb-3">
                        <label for="first_name" class="text-info form-label text-dark">First Name:</label> 
                        <input type="text" name="first_name" id="first_name" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="last_name" class="text-info form-label text-dark">Last Name:</label> 
                        <input type="text" name="last_name" id="last_name" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="text-info form-label text-dark">Email:</label> 
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="text-info form-label text-dark">Password:</label> 
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirm_password" class="text-info form-label text-dark">Confirm Password:</label> 
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-sm btn-secondary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<h2>{{homes[0].type}} Listings</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for home in homes %}
    <div class="col">
        <div class="card">
            <a href="/homes/details/{{home.id}}">
            <img src="{{home.image}}" class="card-img-top" alt="single" style="height: 20rem;">
            </a>
            <div class="card-body">
                <h5 class="card-title">$ {{ '{:,}'.format(home.price) }}</h5>
                <p class="card-text">{{home.bed}} bds | {{home.bath}} ba | {{home.sq_ft}} sqft - {{home.type}}</p>
                <div class="card-text d-flex justify-content-between align-items-center">
                    <p>{{home.street_address}}, {{home.city}}, {{home.state}} {{home.zipcode}}</p>
                    {% if home.maker %}
                    <div>
                        <a href="/homes/edit/{{home.id}}" class="btn btn-secondary">Edit</a>
                        <a href="/homes/delete/{{home.id}}" class="btn btn-secondary">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}

{% set page = 'view' %}